__pycache__/
*.py[cod]
.venv/
venv/
env/


logs/
*.log
airflow-webserver.pid
airflow.db
airflow.db-journal

*.csv
*.json
*.parquet
data/
Airflow/dags/data/


.env
.env.*
secrets.json

.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db